@import "tailwindcss";

/* Estilos globales y clases auxiliares */
html,
body {
  min-height: 100vh;
  overflow-x: hidden;
}

/* Clase para sombra de texto, útil para títulos */
.shadow-text {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}